@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 60%,  rgb(29, 28, 28) 40%, black 100%
  );
}

#logo{
position: relative;
width: 150px;
height: 150px;
left: 0%;
top: 0%;
}

.homepg {
  text-align: center;
  font-size: 76px;
  font-family: 'Cabin Sketch', cursive;;
  position: absolute;
  width: 500px;
  height: 232px;
  left: 650px;
  top: 260px;
  margin: 0;
  line-height: 1;
  font-size: 10em;
  animation: color-change 5s infinite;
  }

  @keyframes color-change {
    0% {
      color: #626466;
    }
    25% {
      color: #2b3035;
    }
    50% {
      color: #375591;
    }
    75% {
      color: #2671AB;
    }
    100% {
      color: rgb(193, 213, 250);
    }
}

nav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  }

nav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  transition: 1s;
}

nav a:hover{
    text-decoration: none;
    border-top: 3px solid rgba(255, 255, 255, 0.758);
    border-bottom: 3px solid rgba(255, 255, 255, 0.758);
    padding: 5px;
    font-size: 20px;
    transition: 1s;
}

.burger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ffffff;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Hide sidenav on smaller screens */
  nav {
    width: 0;
  }
  
  /* Show burger menu on smaller screens */
  .burger-menu {
    display: block;
  }
  
  /* Styling for active burger menu icon */
  .burger-menu.active span:first-child {
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  
  .burger-menu.active span:nth-child(2) {
    opacity: 0;
  }
  
  .burger-menu.active span:last-child {
    transform: rotate(45deg) translate(-5px, -5px);
  }
  
  /* Styling for active sidenav */
  nav .active {
    width: 250px;
  }
}

.homediv{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 50%,  rgb(29, 28, 28) 50%, black 100%
  );
  }
/* ABOUT SECTION CSS */

  .aboutdiv h2{
    width: 545px;
    height: 232px;
    font-weight: 600;
    font-size: 44px;
    line-height: 77px;
    text-align: center; 

    }
   
   .aboutdiv{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 50%,  rgb(29, 28, 28) 50%, black 100%
  );
  } 

  .aboutme{
    position: relative;
    width: 500px;
    height: 420px;
    top: -520px;
    color: rgb(29, 28, 28);
    text-align: justify;
  }

  .mypic{
    position: relative;
    width: 350px;
    height: 350px;
    left: 60%;
    top:  -210px;
    border-radius: 50%;
  }

  .moreinfo{
   position: relative;
   width: 378px;
   height: 168px;
   top: -620px;
   left: 60%;
   color: white;
  }
 /* RESUME PART */
  /* .resumediv{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 50%,  rgb(29, 28, 28) 50%, black 100%
  ); 
  }  */

   .resumediv h2{
    width: 557px;
    height: 232px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    float: left;
    color: rgb(29, 28, 28);
  }
 
  /* RESUMES ARDS */
  .education {
    position: relative;
    width: 500px;
    height: 420px;
    top: -120px;
    color: rgb(29, 28, 28);
    text-align: justify;
  }

  .experience{
    position: relative;
    width: 500px;
    height: 420px;
    top: -299.5px;
    color: white;
    left: 50%;
    text-align: justify;
  }

  /* PROJECTS SEC */
   .projectsdiv{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 50%,  rgb(29, 28, 28) 50%, black 100%
  );
  }  

  .projectsdiv h2{
    width: 557px;
    height: 232px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
   }
/* TESTIMONIAL SECTION */

  /* .testsdiv{
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, #2671AB 0%,
    #2671AB 50%,  rgb(29, 28, 28) 50%, black 100%
  );
  } */

  .testsdiv h2{
    width: 557px;
    height: 232px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    float: right;
    color: #92a5b4;
  }

  .container {
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 16px;
  margin: 16px 0;
}

/* .container::after {
  content: "";
  clear: both;
  display: table;
} */

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}
  
/* CONTACT PAGE */


.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: black;
}

#contact {
  background: rgb(29, 28, 28);
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h2 {
  width: 557px;
  height: 232px;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: #2671AB;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #000000;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #527db4;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #598ab8;
  -webkit-transition:  0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #ffffff;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}