@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html,
body{
  overflow-x:hidden
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    color: #0d1950;
    background: linear-gradient( to right, white 0%,
    pink 60%,  pink 40%, pink 100%
  );
}


#logo{

width: 50px;
height: 50px;
 
}

  @keyframes color-change {
    0% {
      color: #626466;
    }
    25% {
      color: #2b3035;
    }
    50% {
      color: pink;
    }
    75% {
      color: #8eb2ce;
    }
    100% {
      color: rgb(193, 213, 250);
    }
}

section {
  width: 100vh;
}

.navbar {
  z-index: 70;
}
nav a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
  transition: 1s;

}

nav a:hover{
    text-decoration: none;
    border-top: 3px solid pink;
    border-bottom: 3px solid rgba(255, 255, 255, 0.758);
    padding: 5px;
    font-size: 20px;
    transition: 1s;
}


/* Media query for smaller screens */
@media only screen and (max-width: 479px) {
.callhome {
  display: flex;
  flex-direction: column-reverse;

}

.row-cols-2{
  display: flex;
  flex-direction: column;
}
}

@media only screen and (min-width: 480px) {
  .callhome{
    display: flex;
   flex-direction: row;
  }
  .landing {
    /* font-size: 76px; */
    top: 260px;
    margin: 0;
    line-height: 1;
    font-size: 10em;
    animation: color-change 5s infinite;
    }

    .row-cols-2{
    display: flex;
    flex-direction: row;
    }
}

 .all{
  margin: 5rem; 
  margin-left: 5rem;
} 

#homediv{
    width: 100%;
    height: auto;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }

   .callhome{
   

   }

  

/* ABOUT SECTION CSS */
#about{
  padding-top: 10vh;
}


   .aboutdiv{
     margin-top: 30px;
    margin-top: 4.6em; 
  }  

  #aboutme{
    width: 500px;
    color: rgb(29, 28, 28);
    text-align: justify;
  }

  #moreinfo{
   left: 105%;
   float: right;
   color: #0d1950;
   text-align: right;
  }
/* skills section */

.skill-header {
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
}

.skills-wrapper img {
  padding: 1.25rem;
  display: flex;
}

.icon {
  width: 6.875rem;
  height: 6.25rem;
  display: flex;
}

.progress{
  background: transparent !important;
  border: 2px white;
  font-weight: 100px;
  margin-bottom:26px;
  margin-bottom: 1.66em;
  text-align: center;
}
 /* RESUME PART */

   .resumediv h2{
    width: 557px;
    height: 232px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    float: left;
    color: rgb(29, 28, 28);
  }
 
  /* RESUMES ARDS */

  .experience{
    height: auto;
    color: #2671AB;
    text-align: justify;
  }

   .projectsdiv{
    width: 100%;
    height: auto;
  }  

  .projectsdiv h2{
    width: 557px;
    height: auto;
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 1.6rem;
   }


  .testwrapper{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  #testimonials{
   padding: top 10vh; ;
  }

  #testimonials  h2{
    width: 557px;
    height: 232px;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: -5.5rem;
  }

  .container1 {
  padding: 16px;
  margin: 16px 0;
  background: transparent;
  color: #0d1950;
  content: "";
  clear: both;
  display: table;
  border:solid 1px #ffffff;
}


.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#contact {
  background: transparent;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 0 20px 0 rgba(247, 244, 244, 0.2), 0 5px 5px 0 rgba(238, 236, 236, 0.24);
}

#contact h2 {
  width: 557px;
  height: 232px;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: rgb(48, 46, 47);
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #202020;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid white;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  left: 50%;
  border: none;
  background: pink;
  color: black;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
  background: #598ab8;
  -webkit-transition:  0.3s ease-in-out;
  -moz-transition:  0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #ffffff;
}

/* footer */
footer{
  text-align: center;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
  color: black;
  background: transparent;
  border-color: black;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: black;
  background: transparent;
  border-color: black;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: black;
  background: transparent;
  border-color: black;
} 

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
 color: black;
  background: transparent;
  border-color: black;
}